language: java
jdk:
- openjdk15
services:
- postgresql
before_install:
- psql -c 'create database forum;' -U postgres
sudo: false
install: true

after_success:
- bash <(curl -s https://codecov.io/bash)
notifications:
  email:
    recipients:
    - kiril5471710@gmail.com
    on_success: never
    on_failure: always
env:
  global:
  - CODECOV_TOKEN="07ab4bab-bac4-4eb9-b788-09f5ee010756"
deploy:
  provider: heroku
  api_key:
    secure: g8VsXm2KKEi6CZnPzQmHDH+vWtKIu+NL4ERTBw+kK6IcnXjF1KWdOa+YvnHopC6wCAeDZ6ivtGDi4cMYNs93Va+X+kuEr4DQrY41uLO+yirKXZNKUo8XMLcWo5CaLFpopkntYR7vQlBaSjXuQ9epHsXFuzBUzOikn+gZ2q0DKAs1sp8onkiZRHN7wdPrgTi4Bwsg6y8UAzz3StVh0MFs7Pkq/yPhU9KzLxDBcmXc84nhqPVIg3LZttINRT183/ObNvWOaUT51smbTJ2fCtqWqsUtNteimnhtQcxXtAmy5JR9RcD5OCDsKQk4gDekMBXlSxpbE5b/ZyZLw+d9N5wLbupbzU+WNlGA1iuxMRbaZbWcg8wIwq2y17BwM5c7ZlL7w4k2+bzfitfpneqJpdBWnZe7Y9ld8OBdRrTbBVXFpa2QYkCtHUuecN2YrXksn7vkPG3rBgPZLrjv8P7hvJieMAyCXk7eGdPmv7MWqF9rqHbp+RjkaszFLflehRUsFcq0ERUFmX6zOIf6/xvG+9uXbVMk33r4HogtCJLPf7w9L2rpukebBOxBh1yY9Ypd2xR1psPE5BDO25k6StvJguymhCK0QIziesW6JNxJmZrOQEV1Dk1cCv1wpvDX18zccMT1h1uSJaaa5leq/OuYCis2Z2wYE7EORodxOf4KPe9RtLE=
  app: tranquil-sands-97008
